body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#sidebar {
  width: 100%;
  max-width: 300px;
  background-color: #e6d3bb;
  padding: 20px;
  color: #333;
}

#main-content {
  width: 100%;
  max-width: 800px;
  padding: 20px;
  margin-left: auto;
}

ul {
  padding-inline-start: 0;
}

h1,
h2 {
  color: #4d4d4d;
}

h2 {
  border-bottom: 2px solid #4d4d4d;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.section {
  margin-bottom: 30px;
}

.section h3 {
  color: #4d4d4d;
}

@media only screen and (min-width: 768px) {
  .container {
    flex-direction: row;
    align-items: flex-start;
    /* justify-content: space-around; */
  }

  .main #sidebar {
    order: 1;
  }

  #main-content {
    order: 2;
    margin-left: 20px;
  }
}

.selfinfo {
  margin: 10px;
  text-align: center;
  padding: 0px;
}

.skill {
  display: flex;
  align-items: center;
}

.skill span {
  flex: 7;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.skill progress {
  flex: 3;
}

progress {
  appearance: none;
  -webkit-appearance: none;
  background-color: #f0f0f0;
  border: none;
  height: 10px;
  border-radius: 10px;
}

progress::-webkit-progress-bar {
  background-color: #f0f0f0;
  border-radius: 10px;
}

progress::-webkit-progress-value {
  background-color: #4CAF50;
}

progress::-webkit-progress-value {
  transition: width 0.3s ease-in-out;
  border-radius: 10px;
}

.project-list {
  padding-left: 40px;
}

.sub-list {
  padding-left: 20px;
}

.sub-list ur,
li {
  margin-top: 5px;
  margin-bottom: 5px;
}

.date {
  color: gray;
}

.photo-container {
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 5px 10px rgba(251, 112, 4, 0.3);
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.certificate-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.certificate-image-container {
  flex: 0 0 auto;
  margin-right: 20px;
}

.certificate-image-container img {
  max-width: 100%;
  height: 100px;
  aspect-ratio: 1;
}

.text-container {
  flex: 1 1 auto;
}

#modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
  justify-content: center;
  align-items: center;
  animation: fade-in 1s;
}

#modal-image {
  display: block;
  margin: auto;
  max-width: 90%;
  max-height: 90%;
}

@keyframes fade-in {
  from {
    transform: scale3d(0, 0, 0);
    opacity: 0;
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }

  100% {
    transform: scale3d(0, 0, 0);
    opacity: 0;
  }
}